@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    box-sizing: content-box;
    margin: 0;
    font-family: Poppins;
    font-size: 12px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: calc(100% - 300px);
    padding: 0 150px;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.75);
}

header .logo {
    width: 120px;
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 64px;
    width: calc(100% - 120px);
    font-weight: 800;
}

.navbar .menu {
    margin: 0;
    padding-left: 0;
    display: flex;
    font-family: Poppins;
    font-weight: 600;
}

header .navbar .menu li {
    list-style: none;
    padding: 10px 10px;
    margin: 0px 5px;
}

header .navbar .menu li a {
    text-decoration: none;
    color: rgb(0, 0, 0, 0.75);
    ;
}

header .navbar .menu li a:hover {
    color: rgba(180, 164, 164, 0.75);
}

header .navbar .header-right li {
    list-style: none;
}

header .navbar .header-right a {
    color: rgb(0, 0, 0, 0.75);
    border: 1px solid rgb(0, 0, 0, 0.75);
    ;
    border-radius: 5px;
    padding: 5px 20px;
    text-decoration: none;
}

header .navbar .header-right a:hover {
    background-color: #000;
    color: #fff;
}

.mobile-nav-toggle {
    color: #012970;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    header {
        width: calc((100% - 90px));
        padding: 15px 45px;
    }

    .navbar .header-right ul li,
    header .navbar ul li {
        display: none;
    }
}

header .navbar-mobile {
    display: block;
    width: 100vw;
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(1, 22, 61, 0.9);
    transition: 0.3s;
}

header .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
}

header .navbar-mobile .menu {
    position: absolute;
    flex-direction: column;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

header .navbar-mobile .header-right ul li,
header .navbar-mobile .menu li {
    display: block;
}

header .navbar-mobile .menu li a:hover {
    color: rgba(180, 164, 164, 0.75);
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40vh;
}

#hero p {
    margin: none;
    font-size: 12pt;
}

#hero h1 {
    font-size: 48pt;
    font-weight: 400;
    margin-top: -20px;
    margin-bottom: -20px;
}

@media (max-width: 991px) {
    #hero {
        width: calc((100% - 90px));
        padding: 15px 45px;
    }
}

.content {
    width: calc(100% - 300px);
    padding: 0 150px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.box {
    width: calc((100% - 300px)/3.3);
    min-height: 400px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.box img {
    width: 100%;
    height: 300px;
}

.box-body .user-date {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 600;
}

.box-body .div-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div-title .title {
    font-size: 18pt;
    margin-bottom: 10px;
}

.box-body .description {
    margin-bottom: 10px;
    font-size: 11pt;
}

.box-body .div-categories {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    position: absolute;
}

.div-categories a.categories {
    position: relative;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 9pt;
    text-decoration: none;
    color: #000;
}

@media (max-width: 991px) {
    .content {
        width: calc(100% - 90px);
        padding: 15px 45px;
    }
    
    .box {
        width: 100%;
        margin-bottom: 50px;
    }

    .paging {
        width: 100%;
        margin: 30px 45px 10px 45px;
    }
}

.paging {
    width: calc(100% - 300px);
    margin: 30px 150px 10px 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.paging .number {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.number li {
    list-style: none;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.number li.active {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
}